body{
  /* background-image: url("images/clouds.JPG"); */
  /* why does the above background image not work? */
  background-color: #cbdcf7;
  font-family: monospace;
  font-size: 17px;
  margin-right: 95px;
  margin-left: 95px;
}
.headshot{
  float: right;
  width: 30%;
  height: auto;
  margin-bottom: 50px;
}

.name{
  text-align: center;
  font-size: 80px;
}

h4{
  text-align: center;
}

.student{
  text-align: center;
  margin: 15px;
}

#greyed{
  color: gray;
}

.underheader{
  margin-top: 50px;
}

.hobbies{
  text-align: center;
}

h3{
  margin-top: 50px;
  text-decoration: underline;
}

.contact{
  margin-bottom: 40px;
}

.outer{
  border-style: dotted;
  border-width: medium;
  margin-top: 25px;
}
