body{
  font-family: monospace;
  font-size: 17px;
  margin-right: 45px;
  margin-left: 45px;
}
.headshot{
  float: right;
  width: 25%;
  height: auto;
}

img.headshot2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
.name{
  text-align: center;
  font-size: 80px;
}

h4{
  text-align: center;
}

.student{
  text-align: center;
}

#greyed{
  color: gray;
}

.underheader{
  margin-top: 50px;
}

.hobbies{
  text-align: center;
}

h3{
  margin-top: 50px;
}
